 <div>
                <h5 class="text-uppercase bg text-white py-2 rounded-pill"><i class="bi bi-puzzle-fill px-3"></i>Skills</h5>
                <ul class="list text-white-50 ml-5 py-2 text-left text-capitalize">
                    <li class="list-item">HTML</li>
                    <li class="list-item">CSS</li>
                    <li class="list-item">Javascript</li>
                    <li class="list-item">Bootstrap</li>
                    <li class="list-item">Github</li>
                    <li class="list-item">Learning Angular</li>
                </ul>
            </div>
