<div class="header-left">
    <img src="profile.jpg" alt="" class="img-thumbnail rounded-circle mb-2">
    <h1 class="display-5">MOHD ANAS</h1>
    <h4 class="lead text-uppercase text-white-50 mb-4">Javascript Developer</h4>
</div>
<div>
    <h5 class="text-uppercase bg text-white py-2 rounded-pill "> <i class="bi bi-person-lines-fill px-2 "></i>Contact</h5>
    <ul class="list-unstyled text-white-50 ml-5 py-2 lext-left">
        <li class="list-item">
            <i class="fas fa-mobile-alt mx-4">
              <a href="tel:+91 8103759909" class=" px-5 text-white-50"> 8103759909</a>  
            </i>
        </li>
        <li class="list-item">
            <i class="bi bi-envelope py-2">
            <a href="mailto:https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" class="px-2 text-white-50" target="_blank">anasansariaka@gmail.com</a>  
            </i>
        </li>
        <li class="list-item">
            <i class="bi bi-github mx-4">
               <a href=" https://github.com/anas-aka" target="_blank" class="px-2 text-white-50">github.com/anas-aka</a> 
            </i>
        </li>
        <li class="list-item">
            <i class="bi bi-geo-alt mx-4">
                Kanpur Nagar 
            </i>
        </li>
    </ul>
</div>
