<h5 class="text-uppercase text-dark py-2 "> <i class="bi bi-info-square-fill"></i> personal information</h5>
<hr>
<div class="row">
    <div class="col-4 ">
        <ul class="list-unstyled text-dark ml-5 py-2 lext-right fw-bolder">
            <li> Father's Name :-</li>
           <li> Mother's Name :-</li>
           <li> Date Of Birth :-</li>
           <li> Hobbies :-</li>
           <li> Parmanent Address :-</li>

        </ul>
   </div>
   <div class="col-8">
       <ul class="list-unstyled text-dark ml-5 py-2 lext-left">
           <li> Mohd Aslam</li>
           <li>Mumtaz Begum </li>
           <li> 08-apr-1999</li>
           <li> Learning something new</li>
           <li> 132/504,Bakarganj,TP Nagar,Kanpur,UP,India 208023</li>
         
        </ul>
   </div>
</div>








<!-- <ul > -->



    <!-- <div>
        <h4 class="text-uppercase">Personal Details</h4>
        <hr>
        <p><b>
           
        </b>Late </li>
    </p>
    <p><b>
            <li> Mother's Name :-
        </b> </li>
    </p>
    <p><b>
            <li> Date Of Birth :-
        </b> </li>
    </p>
    <p><b>
            <li> Hobbies :-
        </b></li>
    </p>
    <p><b>
           
        </b> </li>
    </p>
    </div> -->